.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}
.heroText {
    font-family: "Alfa Slab One";
    font-weight: 600;
    line-height: 0.9;
    padding: 14px 0px;
}
.gradientText {
    background: linear-gradient(163deg, #6a4c93, #8e43ad, #f2c511);
    /* background: linear-gradient (124deg, #8e43ad, #2ecc70, #f2c511); */
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    /* This is for webkit browsers */
    display: inline-block;
    /* Required to apply the gradient to text */
    font-size: 72px;
    /* Your desired font size */
    font-weight: bold;
}

:where(.css-dev-only-do-not-override-1k979oh).ant-input-outlined:hover {
    border-color: #6a4c93;
    background-color: #ffffff;
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

.customInput input {
    color: white; /* This changes the input text color */
}

.customInput input::placeholder {
    color: white !important;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

@media (max-width: 768px) {
    .heroText {
        font-size: 24px;
    }
    .gradientText {
        font-size: 48px;
    }
}
